body{
    background-image:url("Pics_for_web/designbetter-blog-images-launch-bg.png") ;
    background-color: #0828CC;
    color: white;
}

header{
    display: flex;
}

aside button{
    display: flex;
	flex-direction: column;	
    border-radius: 50%;
    border: 1px white solid;
    background-color: transparent;
    height: 40px;
    width:40px;
}